#### Task 4.9 Part 1: Introduction to Visualization

In [46]:
# Importing Libraries
import pandas as pd
import numpy as np
import os

In [26]:
#Creating string of project folder.

path = r'/Users/nautis1/data_project/09-2025-Instacart-Basket-Analysis/Instacart Basket Analysis'

In [27]:
#importing orders_products_combined dataframe from the pickle file
customers = pd.read_csv(os.path.join(path, '02 data' , 'original data' , 'customers.csv'))

In [28]:
customers.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [29]:
##drop columns not useful for our analysis
customers = customers.drop(columns= ['date_joined', 'Gender'])

In [30]:
customers

,user_id,First Name,Surnam,STATE,Age,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Missouri,48,3,married,165665
1,33890,Patricia,Hart,New Mexico,36,0,single,59285
2,65803,Kenneth,Farley,Idaho,35,2,married,99568
3,125935,Michelle,Hicks,Iowa,40,0,single,42049
4,130797,Ann,Gilmore,Maryland,26,1,married,40374
...,...,...,...,...,...,...,...,...
206204,168073,Lisa,Case,North Carolina,44,1,married,148828
206205,49635,Jeremy,Robbins,Hawaii,62,3,married,168639
206206,135902,Doris,Richmond,Missouri,66,2,married,53374
206207,81095,Rose,Rollins,California,27,1,married,99799
206208,80148,Cynthia,Noble,New York,55,1,married,57095

#### Task 5`

In [31]:
#rename columns
customers.rename(columns = {'Surnam': 'surname', 'n_dependants': 'num_of_dependents', 'STATE': 'state',
                           'First Name': 'first_name',
                           'Age': 'age'}, inplace= True)

In [32]:
customers.head()

,user_id,first_name,surname,state,age,num_of_dependents,fam_status,income
0,26711,Deborah,Esquivel,Missouri,48,3,married,165665
1,33890,Patricia,Hart,New Mexico,36,0,single,59285
2,65803,Kenneth,Farley,Idaho,35,2,married,99568
3,125935,Michelle,Hicks,Iowa,40,0,single,42049
4,130797,Ann,Gilmore,Maryland,26,1,married,40374

In [33]:
#find missing values
customers.isnull().sum()

user_id                  0
first_name           11259
surname                  0
state                    0
age                      0
num_of_dependents        0
fam_status               0
income                   0
dtype: int64

In [34]:
customers.shape

(206209, 8)

In [35]:
customers_clean = customers.loc[customers['first_name'].isnull() == False]

In [36]:
customers_clean.shape

(194950, 8)

In [37]:
#find duplicates
cust_duplicates = customers_clean[customers_clean.duplicated()]

In [38]:
cust_duplicates

Empty DataFrame
Columns: [user_id, first_name, surname, state, age, num_of_dependents, fam_status, income]
Index: []

We have no duplicates in our data set.

In [39]:
#find mixed data types column
for col in customers_clean.columns.tolist():
    weird = (customers_clean[[col]].applymap(type) != customers_clean[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (customers_clean[weird]) > 0:
       print (col)

/var/folders/m1/lrlcgb215jd9lw8n87qhqq_w0000gn/T/ipykernel_94489/2546395441.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (customers_clean[[col]].applymap(type) != customers_clean[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/m1/lrlcgb215jd9lw8n87qhqq_w0000gn/T/ipykernel_94489/2546395441.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (customers_clean[[col]].applymap(type) != customers_clean[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/m1/lrlcgb215jd9lw8n87qhqq_w0000gn/T/ipykernel_94489/2546395441.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (customers_clean[[col]].applymap(type) != customers_clean[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/m1/lrlcgb215jd9lw8n87qhqq_w0000gn/T/ipykernel_94489/2546395441.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (customers_clean[[col]].applymap(type) != customers_clean[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/m1/lrlcgb215jd9lw8n87qhqq_w0000gn/T/ipykernel_94489/2546395441.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (customers_clean[[col]].applymap(type) != customers_clean[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/m1/lrlcgb215jd9lw8n87qhqq_w0000gn/T/ipykernel_94489/2546395441.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (customers_clean[[col]].applymap(type) != customers_clean[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/m1/lrlcgb215jd9lw8n87qhqq_w0000gn/T/ipykernel_94489/2546395441.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (customers_clean[[col]].applymap(type) != customers_clean[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/m1/lrlcgb215jd9lw8n87qhqq_w0000gn/T/ipykernel_94489/2546395441.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (customers_clean[[col]].applymap(type) != customers_clean[[col]].iloc[0].apply(type)).any(axis = 1)

no mixed datatype found

In [40]:
customers_clean.dtypes

user_id               int64
first_name           object
surname              object
state                object
age                   int64
num_of_dependents     int64
fam_status           object
income                int64
dtype: object

#### Combining dataframes

In [41]:
# importing dataframe
ords_prods_merge = pd.read_pickle(os.path.join(path,  '02 data' , 'prepared data', 'orders_products_merged_grouped.pkl'))

In [42]:
# combining customer with ords_prods_merge
cust_ords_prods_merged = pd.merge(ords_prods_merge, customers_clean, on = 'user_id', how = 'inner')

In [43]:
#check the dimensions of new merged df
cust_ords_prods_merged.shape

(30629741, 33)

In [44]:
#check the new df
cust_ords_prods_merged.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,order_dow,...,spending_flag,median_days,regularity_flag,first_name,surname,state,age,num_of_dependents,fam_status,income
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,...,Low Spender,8.0,Frequent Customer,Charles,Cox,Minnesota,81,1,married,49620
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,...,Low Spender,8.0,Frequent Customer,Charles,Cox,Minnesota,81,1,married,49620
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,...,Low Spender,8.0,Frequent Customer,Deborah,Glass,Vermont,66,2,married,158302
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,prior,1,3,...,Low Spender,9.0,Frequent Customer,Heather,Myers,Wisconsin,40,3,married,31308
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,4,...,Low Spender,9.0,Frequent Customer,Heather,Myers,Wisconsin,40,3,married,31308

In [45]:
# Exporting the Dataframe
cust_ords_prods_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'customer_orders_products_merged.pkl'))